@import "tailwindcss";

@theme {
    --font-audiowide: ['Audiowide', 'cursive' 'sans-serif'];
    --font-lexend: ["Lexend Deca", 'sans-serif'];
}

body {
    overflow-x: hidden;
}

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #1E388A;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.8s linear infinite;
    margin-right: 8px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}